<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beetech.com.wallet">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Used for Importing / Exporting Wallets -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Used for QR Code scanning -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Used for optional Applock Feature -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.fingerprint" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <supports-screens android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="beetech.com.wallet.ubersplash.MainActivity_App"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="beetech.com.wallet.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground">
        </activity>


        <activity
            android:name="beetech.com.wallet.activity.PhoneAuthActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/Translucent" />

        <activity
            android:name="beetech.com.wallet.activity.MapsActivity"
            android:label="@string/title_activity_details"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground">

        </activity>

        <activity
            android:name="beetech.com.wallet.activity.MainActivityPhone"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />

        <activity
            android:name="beetech.com.wallet.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />

        <activity
            android:name="beetech.com.wallet.activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name="beetech.com.wallet.activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy" />
    </application>

</manifest>